@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700;900&display=swap');
/* css var */
:root {
    --clr-primary: #6a4225;
    --clr-primary-light: #bf7b4a;
    --clr-primary-3: #ddb892;
    --clr-secondary: #f2dc5d;
    --clr-grey-1: #272829;
    --clr-grey-2: #6c757d;
    --clr-grey-3: #adb5bd;
    --clr-black: #222;
    --clr-white: #fff;
    --ff-primary: 'Lato', serif;
    --ff-secondary: 'Playfair Display SC', serif;
    --transition: all 0.3s ease-in;
    --spacing: 0.5rem;
    --radius: 0.5rem;
}
/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
} 
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    margin-bottom: 1.25rem;
}
  
@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1rem;
    }
    
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
    
}
/* more globle */
.btn {
    text-transform: uppercase;
    color: var(--clr-white);
    background: var(--clr-primary-light);
    padding: 0.75rem 1rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    font-size: 1rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.btn:hover {
    /* color: var(--clr-primary-3); */
    color: var(--clr-secondary);
    background: var(--clr-primary-light);
}
.clearfix::after,
.clearfix::before {
    content: '';
    clear: both;
    display: table;
}

.section-title h3 {
    font-family: var(--ff-secondary);
    color: var(--clr-primary-light);
}
.section-title {
    margin-bottom: 1.4rem;
}
.section-center {
    padding: 4rem 0;
  /* border: 2px solid red; */
    width: 85%;
    margin: 0 auto;
    max-width: 1170px;
}
/* animation */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes show {
  0% {
    transform: scale(1.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(-200px);
    opacity: 0.4;
  }
  75% {
    transform: translateX(50px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  50% {
    transform: translateX(200px);
    opacity: 0.4;
  }
75% {
    transform: translateX(-50px);
    opacity: 0.7;
  }
100% {
    transform: translateX(0px);
    opacity: 1;
 }
}
/* navbar */
.nav-btn{
    position: fixed;
    color: var(--clr-primary-light);
    top: 5%;
    left: 5%;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
}
.nav h4{
    text-align: center;
    text-decoration: underline;
    color: var(--ff-primary);
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
    background: var(--clr-primary-light);

    z-index: 2;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.4);
    transition: var(--transition);
    transform: translateX(-100%);
}
.nav-img{
    width: 50%;
    margin: 1.2re, auto;
    border: 1px solid var(--clr-secondary);
}
.showNav {
    transform: translate(0);
}
.navabar-header{
    text-align: right;
    padding-right: 0.6rem;
}
.nav-close{
    font-size: 1.2rem;
    cursor: pointer;
    transition: var(--transition);
}
.nav-close:hover{
    color: var(--clr-secondary);
}
.nav-items{
    list-style-type:none ;
}
.nav-link{
    display: block;
    font-size: 1.1rem;
    padding: 0.4rem 1.3rem;
    color: var(--clr-primary);
    transition: var(--transition);
}
.nav-link:hover {
    background: var(--clr-primary-3);
    padding-left: 2rem;
}

@media screen and (min-width: 925px) {
    .navbar {
        max-width: 23rem;
    }
}



.header{
    min-height: 100vh;
    background: linear-gradient(rgba(45, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url('../img/main.jpg') center/cover no-repeat fixed;
    position: relative;
    overflow-x: hidden;
}

.banner{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner h2 {
    font-family: var(--ff-secondary);
    color: var(--clr-primary-3);
    /* animation: slideFromRight 5s ease-in-out 1; */
}
.banner h1 {
    color: var(--clr-white);
    text-transform: capitalize;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    /* animation: slideFromLeft 5s ease-in-out 1; */
}
span{
    color: var(--clr-primary-3);
}
.banner-btn{
    outline: 0.125rem solid var(--clr-primary-light);
    outline-offset: 0.25rem;
    font-size: 1.25rem;
    padding: 1rem 1.75rem;
     /* margin-top: 2rem; */
  /* background: var(--clr-primary-3); */
    /* animation: show 5s ease-out 1; */
}
/* content divider */
.content-divider{
    height: 0.5rem;
    background: linear-gradient(
        to right,
        var(--clr-primary-3),
        var(--clr-primary-light),
        var(--clr-primary-3)
    );
}
/* skills */
.skills{
    background: var(--clr-white);
}
.skill{
    padding: 2.5rem 1rem;
    text-align: center;
    transition: var(--transition);
}
.skill-icon{
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    transition: var(--transition);
    display: inline-block;
    color: var(--clr-primary);
}
.skill-text{
    max-width: 17rem;
    margin: 0 auto;
}
.skill-title{
    color: var(--clr-primary-light);
}
.skill:hover{
    background: var(--clr-primary-3);
    box-shadow: 0 2px var(--clr-primary);
}
.skill:hover .skill-icon{
    transform: translateY(-5px);
    color: var(--clr-secondary);
}

@media screen and (min-width: 568px){
    .skill{
        float: left;
        width: 50%;
    }
}
@media screen and (min-width: 768px){
    .skill {
        float: left;
        width: 33.33%;
    }
}
/* about section */

.about-section {
    background: var(--clr-primary-3);
}
.about-img,
.about-info {
    padding: 1.4rem 0;
}

.about-section .section-center {
    padding-bottom: 0;
}

.about-picture-container {
    background: var(--clr-primary);
    border: 0.4rem solid var(--clr-primary-light);
    max-width: 30rem;
    border-radius: var(--radius);
    overflow: hidden;
}
.about-picture {
    transition: var(--transition);
}

.about-picture-container:hover .about-picture {
    transform: scale(1.2);
    opacity: 0.6;
    object-fit: contain;
}
.about-text {
    max-width: 23rem;
}

.about-link {
    color: var(--clr-primary-light);
}

@media screen and (min-width: 992px) {
    .about-img,
    .about-info {
        float: left;
        width: 50%;
    }
    .about-info {
        padding-left: 2rem;
    }
}

  /* products */
.products {
    background: var(--clr-primary-3);
}

.products .section-center {
    padding-top: 0;
}

.products article {
    padding: 2rem 0;
}
.product-text {
    max-width: 26rem;
}

.product {
    margin-bottom: 1.6rem;
}
.product-img {
    border-radius: var(--radius);
    margin-bottom: 2rem;
    height: 17rem;
    object-fit: cover;
}
.product-price {
    color: var(--clr-primary);
    font-size: 0.8rem;
}
.product-btn {
    font-size: 0.7rem;
    border-radius: var(--radius);
}

@media screen and (min-width: 768px) {
    .product {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }
}
@media screen and (min-width: 992px) {
    .product {
        width: 33.33%;
    }
}
@media screen and (min-width: 1200px) {
    .products-info {
        float: left;
        width: 30%;
    }
    .products-inventory {
        float: left;
        width: 70%;
    }
    .product {
        margin-bottom: 0;
        padding: 0 1rem;
    }
}


/* services */
.services-title{
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}
.service-card{
    margin: 2rem 0;
    background: var(--clr-primary-3);
    border-radius: var(--radius);
    transition: var(--transition);
    
}
.service-card:hover{
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.service-img{
    height: 17rem;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}
.service-info{
    text-align: center;
    padding: 3rem 1rem;
}
.service-info a{
    font-size: 0.7rem;
    padding: 0.4rem 0.7rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    margin-top: 1.25rem;
}
.service-info p{
    max-width: 20rem;
    margin: 0 auto;
}
.service-info h4{
    color: var(--clr-primary);
}
@media screen and (min-width: 768px) {
    .service-card{
        float: left;
        width: 45%;
        margin-right: 5%;
    }
    
}
.service-img-container{
    position: relative;
}
.service-icon{
    position: absolute;
    left: 50%;
    bottom: 0;
    font-size: 2rem;
    color: var(--clr-secondary);
    background: var(--clr-primary);
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    transform: translate(50%, 50%);
    border: 0.375rem solid var(--clr-primary-3);
}

.contact {
    background: var(--clr-primary-3);
}

.contact-form .contact-info {
    margin: 1rem 0;
}

.contact-item {
    margin-bottom: 1.75rem;
}

.contact-title {
    color: var(--clr-primary);
}
.contact-icon {
    color: var(--clr-secondary);
}
.contact-form {
    background: var(--clr-white);
    background: var(--clr-secondary);
    border-radius: var(--radius);
    text-align: center;
    max-width: 35rem;
}
.contact-form h3 {
    padding-top: 1.3rem;
    color: var(--clr-primary);
}
.form-group {
    padding: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.9rem;
    border: none;
    background: var(--clr-white);
    margin-bottom: 0.6rem;
    border-radius: var(--radius);
}
.form-control::placeholder {
    font-family: var(--ff-primary);
    color: var(--clr-primary);
}

.submit-btn {
    display: block;
    background: var(--clr-primary-light);
    /* background: #c46e31; */
    width: 100%;
    padding: 1rem;
    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
    font-weight: normal;
    letter-spacing: var(--spacing);
}

.submit-btn:hover {
    background: var(--clr-primary-light);
    color: var(--clr-primary);
}

@media screen and (min-width: 768px) {
    .contact-form,
    .contact-info {
        float: left;
        width: 50%;
    }
}

 /* footer*/
.footer {
    background: var(--clr-primary);
    text-align: center;
    color: var(--clr-primary-light);
}

.social-icon {
    color: var(--clr-secondary);
    font-size: 1.4rem;
    margin-right: 1rem;
    transition: var(--transition);
}

.social-icon:hover {
    color: var(--clr-primary-3);
}
.footer-text {
    margin-top: 1.2rem;
}
.company {
    /* color: var(--clr-secondary); */
    letter-spacing: var(--spacing);
    text-transform: uppercase;
}